{% extends "wild/base.html.twig" %}
{% block title %}films par catégorie{% endblock %}
{% block body %}
<h1>Toutes les séries présentes dans la catégorie {{category.name}}: </h1>
    {% for program in programs %}
        <div>
            <h2>{{ program.id}} - {{ program.title }}</h2>
            <p>{{ program.summary }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}


